*.o
*.orig
*.rej
*.pyc
*.html.py
*.txt.py
*.tmp
*.DS_Store
*~
*.mo
env/*
translations/*
dumps/*
.idea
.idea/
.idea/vcs.xml

media/
sitemap*.xml
sitemap*.gz
jserver/jasperParams.ini
.env
venv
*node_modules*
*package-lock.json*
prepros-6.config
deployment
touch_to_reload
uwsgi.pid
uwsgi.ini
*.sqlite3
db.sqlite3
settings.py
venv/
*.log
Lib/
Scripts/
env/
htdocs/css
htdocs/js
yarn.lock
htdocs/jsapp
